# ENEC 2018

In [67]:
import pandas as pd
import numpy as np

In [68]:
# Leemos el Excel, como solo es una hoja, es conveniente usar el skiprows. 
enec = pd.read_excel('data\\FD_ENEC_SERIE_2018.xlsx', sheet_name=None, skiprows= 3) 
enec0 = enec['FD (ENEC)'].copy()
enec0.head()

,VARIABLES,Unnamed: 1,TIPO,UNIDAD DE MEDIDA,LONGITUD,RANGO VÁLIDO
0,NEMÓNICO,DESCRIPCIÓN,NaN,NaN,NaN,NaN
1,DATOS DE IDENTIFICACIÓN,NaN,NaN,NaN,NaN,NaN
2,E03,Entidad,Carácter,NaN,2,Rango de 01 al 32
3,ID_UELM,Identificador único de establecimiento del lab...,Carácter,NaN,17,NaN
4,MES,Mes de referencia,Carácter,NaN,2,Rango de 01 al 12

Primero, colocaremos las columnas de forma adecuada.

In [69]:
enec_cols = list(enec0.columns)
enec_cols[0] = 'NEMÓNICO'
enec_cols[1] = 'DESCRIPCIÓN'
enec0.columns = enec_cols
enec = enec0.iloc[1:,:].reset_index(drop=True)
enec.head()

,NEMÓNICO,DESCRIPCIÓN,TIPO,UNIDAD DE MEDIDA,LONGITUD,RANGO VÁLIDO
0,DATOS DE IDENTIFICACIÓN,NaN,NaN,NaN,NaN,NaN
1,E03,Entidad,Carácter,NaN,2,Rango de 01 al 32
2,ID_UELM,Identificador único de establecimiento del lab...,Carácter,NaN,17,NaN
3,MES,Mes de referencia,Carácter,NaN,2,Rango de 01 al 12
4,ANO,Año de referencia,Numérico,NaN,4,Números

Ahora, vemos que tiene un formato conocido. Así que ya sabemos como trabajarlo.

In [70]:
enec['nna'] = enec.isna().sum(axis = 1)
enec_cat = enec[enec['nna'] == 5]
cat_index = list(enec_cat.index)
cat_index.append(list(enec.index)[-1])
dflist = []
for i in range(len(cat_index) - 1):
    dflist.append(enec.iloc[cat_index[i] :  cat_index[i + 1], :])

for k, df in enumerate(dflist):
    df = df.copy()
    df_name = df.iloc[0, 0]
    df = df.iloc[1:,:]
    df['nna'] = df_name
    df = df.rename(columns={'nna': 'Categoría'})
    if k == 0:
        last = df
    else:
        last = pd.concat([last, df])

last.to_excel('results\\enec2018.xlsx')